/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  text-rendering: optimizeLegibility;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit, system-ui;
  overflow-x: hidden;
  line-height: 1.33;
}

.no-tw { all: unset !important;}
.small-caps { font-variant: small-caps; }
.not-variant { font-variant: unset !important; }
code { font-family: 'JetBrains Mono', monospace; font-weight: 300; }
textarea {
  font-family: 'JetBrains Mono', monospace !important;
}

.dark input:not([type="checkbox"]),
.dark select,
.dark textarea {
  background-color: hsl(233, 8%, 16%);
  border-radius: 8px;
  box-shadow:
    inset 2px 2px 4px rgba(0, 0, 0, 0.6),
    inset -2px -2px 4px rgba(200, 200, 200, 0.2);
  outline: none;
  border: none;
  color: white;
}

.dark input:focus,
.dark textarea:focus {
  box-shadow:
    inset 2px 2px 3px rgba(0, 0, 0, 0.6),
    inset -2px -2px 3px rgba(255, 255, 255, 0.1);
  outline: none !important;
  border: none;
}

.dark button:not(#header-btns *):not(.btns *) {
  background-color: #2d2d2d;
  border-radius: 8px;
  box-shadow: 6px 6px 8px #212121,
    -6px -6px 8px #393939;
}

.dark button:not(#header-btns *):not(.btns *):hover {
  box-shadow: 4px 4px 6px #212121,
    -4px -4px 6px #393939;
}

.dark button:not(#header-btns *):not(.btns *):active {
  box-shadow:
    inset 2px 2px 6px rgba(0, 0, 0, 0.6),
    inset -2px -2px 6px rgba(255, 255, 255, 0.2);
}


input:not([type="checkbox"]),
select,
textarea {
  display: block;
  appearance: none;
  width: 100%;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

input:focus,
textarea:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  outline: none !important;
  border: none;
}

button:not(#header-btns *):not(.btns *) {
  box-shadow: 3px 3px 5px #babecc, -4px -4px 10px #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  pointer-events: all;
}

button:not(#header-btns *):not(.btns *):hover { box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc; }
button:not(#header-btns *):not(.btns *):active { box-shadow: inset 2px 2px 3px #babecc, inset -2px -2px 3px #fff; }
#header-btns * {
  border: none;
  cursor: pointer;
}

blockquote {
  border-left: .25rem solid #8888;
  background-color: #8882;
  padding: .25rem 1rem;
}

blockquote p {
  font-size: 110%;
  line-height: 1.6;
}

#output {
  border: 1px solid;
  background-color: #0d1117;
  & ul, ol { margin: .5em 2em; }
  & ul li:has(input) input {  }
  & h1, h2, h3, h4, h5, h6 { margin: .5em 0; }
  & hr { margin: 1em 0; }
  & code {
      background-color: #8884;
      padding: 0 .25em;
      border-radius: .25em; 
      font-size: small; 
    }
  & pre > code {
    all: inherit;
      margin: .5em 0; 
      padding: 1em; 
      border-radius: .25em;
      font-size: small;
      background-color: #8882;
    }
}

.btns button {
  font-family: 'JetBrains Mono', monospace;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  aspect-ratio: 1/1;
  max-width: 2em;
  width: 1.5em;
  border-radius: .25em;
  cursor: pointer;
}